<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8">
    <title>main page</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/fontawesome-all.css">
    <link rel="stylesheet" href="/static/bootstrap/css/slick-slider.css">
    <link rel="stylesheet" href="/static/bootstrap/css/fancybox.css">
    <link rel="stylesheet" href="/static/bootstrap/css/smartmenus.css">
    <link rel="stylesheet" href="/static/bootstrap/style.css">
    <link rel="stylesheet" href="/static/bootstrap/css/color.css">
    <link rel="stylesheet" href="/static/bootstrap/css/responsive.css">
    <style>
        body {
            background-image: url("/static/images/wallpaper.jpg");
            background-size: cover;
            color: white;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Pokemon</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Blind Box<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/mainpage/">Best sellers </a></li>
                            <li class="divider"></li>
                            <li><a href="/boxhistory/">Order history</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-toggle"><a href="/mypokemon/">My Pokemon</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Resale Card <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a href="/resalepage/">Find what you like</a></li>
                            <li class="divider"></li>
                            <li><a href="/resalehistory/"> Resale history</a></li>
                            <li class="divider"></li>
                            <li><a href="/pricecheck/"> Check the price</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><span
                                class="glyphicon glyphicon-user"></span> {{request.session.username}}</a>
                    </li>
                    <li class=" navbar-right">
                        <a href="/logout/"><span
                                class="fa fa-sign-in-alt"></span> logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div style="width: 1500px; height: auto;background:rgb(230,230,230,0.9);border: 1px solid #ccc;
	position:absolute;left: 10%;top: 1%;margin-left: 5%;margin-top: 5%;margin-bottom: 5%; margin-right: 5%;">
        <section class="page-title-area " style="padding-top: 60px;">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title" style="color: black;font-size: 50px; ">Resale order history </h1>
                    </div>

                </div>
            </div>
        </section>

        <div class="main-content-wrapper" style="color: black">
            <div class="shop-page-wrapper ptb--80">
                <div class="container">

                    <div class="row" style="margin-top:50px;">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>orderID</th>
                                <th>card name</th>
                                <th>rarity</th>
                                <th>seller</th>
                                <th>buyer</th>
                                <th>trade amount</th>
                                <th>trade date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for history in resalehistorylist %}
                            <tr>
                                <td>{{history.0}}</td>
                                <td>{{history.1}}</td>
                                <td>{{history.2}}</td>
                                <td>{{history.3}}</td>
                                <td>{{history.4}}</td>
                                <td>{{history.5}}</td>
                                <td>{{history.6}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>

<script src="/static/bootstrap/js/jquery.js"></script>
<script src="/static/js/main.js"></script>

<script href="js/bootstrap.js"></script>
<script href="js/npm.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/popper.min.js"></script>


</body>
</html>